// stylelint-disable declaration-no-important

.jdb-align-baseline    { vertical-align: baseline !important; } // Browser default
.jdb-align-top         { vertical-align: top !important; }
.jdb-align-middle      { vertical-align: middle !important; }
.jdb-align-bottom      { vertical-align: bottom !important; }
.jdb-align-text-bottom { vertical-align: text-bottom !important; }
.jdb-align-text-top    { vertical-align: text-top !important; }
