// stylelint-disable declaration-no-important

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .jdb-float#{$infix}-left  { float: left !important; }
    .jdb-float#{$infix}-right { float: right !important; }
    .jdb-float#{$infix}-none  { float: none !important; }
  }
}
